<%= form_tag user_report_path, method: 'get' do %>
    <div class="form-group">
      <%= label_tag 'Select category:' %>
      <%= grouped_collection_select :capital, :category_id,
                                    [['Income',@incomes], ['Expense', @expenses]],
                                    :second, :first, :id, :title, include_blank: true  %>
      <%= label_tag 'Input date' %>
      <%= date_field :capital, :implemented_at %>
    </div>
    <%= submit_tag 'Search', name: nil, class: 'btn btn-outline-warning w-50' %>
<% end %>