<% if @capital.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@capital.errors.count, 'error') %> :
      </h2>
      <ul>
        <% @capital.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <hr>
<% end %>

<%= form_for [current_user, @capital.becomes(Capital)] do |f| %>
    <div class="form-group" hidden>
      <%= f.radio_button :type, 'Income'%>
      <%= f.radio_button :type, 'Expense'%>
    </div>
    <div class="form-group">
      <%= f.label 'Choose a category: ' %>
      <%= f.grouped_collection_select :category_id,[['Income',@categories.first], ['Expense', @categories.last]],
                                      :second,
                                      :first,
                                      :id,
                                      :title %>
    </div><hr>
    <div class="form-group">
      <%= f.label 'Date of transaction: ' %>
      <%= f.date_select :implemented_at, order: [:month, :day, :year], class: 'form-control' %>
    </div><hr>
    <div class="form-group">
      <%= f.label 'Value(in $): ' %>
      <%= f.text_field :value, class: 'form-control money-form', pattern: '\d{0,5}\.*\d{1,2}' %>
    </div><hr>
    <div class="form-group">
      <%= f.label 'Note: ' %>
      <%= f.text_area :note, class: 'form-control'%>
    </div><hr>
    <div class="form-group row">
      <div class="col-md-6">
        <%= link_to 'Cancel', root_path, class: 'btn btn-outline-info w-100' %>
      </div>
      <div class="col-md-6">
        <%= f.submit 'Submit', class: 'btn btn-outline-warning w-100' %>
      </div>
    </div>
<% end %>

