<% if @category.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@category.errors.count, t('form.error')) %> :
      </h2>
      <ul>
        <% @category.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <hr>
<% end %>

<%= form_for [current_user, @category.becomes(Category)] do |f| %>
    <div class="form-group">
      <label><%= t('form.label.type') %></label>
      <label class="form-check-label">
        <%= f.radio_button :type, 'IncomeCategory' %>
        <%= t('form.type.income') %>
      </label>
      <label class="form-check-label">
        <%= f.radio_button :type, 'ExpenseCategory' %>
        <%= t('form.type.expense') %>
      </label>
    </div><hr>
    <div class="form-group">
      <%= f.label t('form.label.title') , class: 'col-form-label'%>
      <%= f.text_field :title, class: 'form-control', placeholder: 'Enter title' %>
    </div><hr>
    <div class="form-group row">
      <div class="col-md-6">
        <%= link_to t('form.button.cancel'), root_path, class: 'btn btn-outline-info w-100' %>
      </div>
      <div class="col-md-6">
        <%= f.submit t('form.button.submit'), class: 'btn btn-outline-warning w-100' %>
      </div>
    </div>
<% end %>