<%= form_for [current_user, @category.becomes(Category)] do |f| %>
    <div class="form-group">
      <label>Category type:</label>
      <label class="form-check-label">
        <%= f.radio_button :type, 'IncomeCategory' %>
        Income
      </label>
      <label class="form-check-label">
        <%= f.radio_button :type, 'ExpenseCategory' %>
        Expense
      </label>
    </div><hr>
    <div class="form-group">
      <%= f.label :title , class: 'col-form-label'%>
      <%= f.text_field :title, class: 'form-control', placeholder: 'Enter title' %>
    </div><hr>
    <%= f.submit 'Submit', class: 'btn btn-outline-warning w-100' %>
<% end %>