<div class="container-fluid user-page">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card text-center">
        <div class="card-header">
          <strong><%= t('hello') %></strong>
        </div>
        <div class="card-block">
          <br>
          <h3>
            <%= @user.email %>
          </h3>
          <br>
        </div>
        <div class="card-footer">
          <%= t('user.can') %>
          <%= link_to t('user.link'), user_report_path(current_user) %>.
        </div>
      </div>
      <div class="manage-block row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h3><%= t('user.categories.title') %></h3>
            </div>
            <% if current_user.categories.empty? %>
                <div class="card-footer text-muted">
                  <%= t('user.empty') %>
                </div>
            <% end %>
          </div>
          <%= render partial: 'categories/category', collection: @user.categories %>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h3><%= t('user.capitals.title') %></h3>
            </div>
            <% if current_user.capitals.empty? %>
                <div class="card-footer text-muted">
                  <%= t('user.empty') %>
                </div>
            <% end %>
          </div>
          <%= render partial: 'capitals/capital', collection: @user.capitals %>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>